<div class="container top-pad-20">
    <div class="col-sm-5">
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Equivalent Narcotic Depth (END)
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" [checked]="endImperialSelected === true" (change)="endSystemSelectionChange(!endImperialSelected)" name="endmeasurement" value="true" />Imperial
                        </label>
                        <label class="radio-inline">
                            <input type="radio" [checked]="endImperialSelected === false" (change)="endSystemSelectionChange(!endImperialSelected)" name="endmeasurement" value="false" />Metric
                        </label>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label>Depth in {{endMeasurement}}</label>
                            <input class="form-control" [(ngModel)]="endDepth" (change)="endUpdateDepth()" type="number" />
                        </div>
                        <div class="form-group col-sm-5">
                            <label>Helium Percent</label>
                            <input class="form-control" [(ngModel)]="endHeliumPercent" (change)="endUpdateHelium()" max="100" type="number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>The END (Equivilant Narcotic Depth) would be: {{endValue}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>