<div class="container top-pad-20">
    <div class="col-sm-5">
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Equivalent Narcotic Depth (END)
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" [checked]="endImperialSelected === true" (change)="endSystemSelectionChange(!endImperialSelected)" name="endmeasurement" value="true" />Imperial
                        </label>
                        <label class="radio-inline">
                            <input type="radio" [checked]="endImperialSelected === false" (change)="endSystemSelectionChange(!endImperialSelected)" name="endmeasurement" value="false" />Metric
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Depth in {{endMeasurement}}</label>
                        <input class="form-control" [(ngModel)]="depth" (change)="endUpdateDepth()" type="number" />
                    </div>
                    <div class="form-group">
                        <label>The best EANx Mix for your depth would be: {{mix}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>