<form>
    <div class="container top-pad-20">
        <div class="col-sm-5">
            <div class="row">
                <div class="panel panel-default" 
                     data-toggle="tooltip" data-placement="bottom" 
                     title="This is the desired contents of the tank">
                    <div class="panel-heading">
                        Desired Gas Blend
                    </div>
                    <div class="panel-body">
                        <tank [isResidual]="false"></tank>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" 
                     data-toggle="tooltip" data-placement="bottom"
                     title="This is the gas already in the tank being filled">
                    <div class="panel-heading">
                        Residual Gas
                    </div>
                    <div class="panel-body">
                        <tank [isResidual]="true"></tank>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default" 
                 data-toggle="tooltip" data-placement="bottom"
                 title="Measurement system, Imperial or Metric"> 
                <div class="panel-heading">
                    Measurement System
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" [checked]="imperialSelected === true" (change)="systemSelectionChange(!imperialSelected)" name="measurement" value="imperial" />Imperial
                        </label>
                        <label class="radio-inline">
                            <input type="radio" [checked]="imperialSelected === false" (change)="systemSelectionChange(!imperialSelected)" name="measurement" value="metric" />Metric
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"
                     data-toggle="tooltip" data-placement="bottom"
                     title="Gas type used to fill the tank to full pressure">
                    Top Off Gas
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <select class="form-control" (change)="updateFillGas()" [(ngModel)]="selectedGas" name="topOffGasses">
                            <option *ngFor="let t of topOffs" [value]="t.value">{{t.title}}</option>
                        </select>
                    </div>
                    <div *ngIf="selectedGas == 3">
                        <gas (gasUpdated)="updateFillGas($event)"></gas>
                    </div>
                </div>
            </div>
            <div class="panel panel-default"
                 data-toggle="tooltip" data-placement="bottom"
                 title="Pressue of gasses to add to tank to achieve the desired gas blend">
                <div class="panel-heading">
                    Mixing Pressures to Add
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <p data-toggle="tooltip" data-placement="bottom" title="Oxygen pressure to add to tank">
                            Oxygen<span class="pull-right">{{result.fillSpecs.gasBlend.oxygen}}&nbsp;{{measurePreasure}}</span>
                        </p>
                        <p data-toggle="tooltip" data-placement="bottom" title="Helium pressure to add to tank">
                            Helium<span class="pull-right">{{result.fillSpecs.gasBlend.helium}}&nbsp;{{measurePreasure}}</span>
                        </p>
                        <p data-toggle="tooltip" data-placement="bottom" title="{{selectedGasText}} pressure to add to tank to top it off to full">
                            {{selectedGasText}}<span class="pull-right">{{result.topOffGasPressure}}&nbsp;{{measurePreasure}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default"
                 data-toggle="tooltip" data-placement="bottom"
                 title="Depth limits based on Oxygen percentage">
                <div class="panel-heading">
                    Oxygen Limits
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <p data-toggle="toggle" data-placement="bottom" title="Depth this blend becomes safe to use">
                            Hypoxic Depth<span class="pull-right">{{result.hypoxicDepth}}&nbsp;{{measureDistance}}</span>
                        </p>
                        <p data-toggle="toggle" data-placement="bottom" title="Maximum depth with an Oxygen partial pressure of 1.4">
                            PP O2 1.4% Depth<span class="pull-right">{{result.pO214Depth}}&nbsp;{{measureDistance}}</span>
                        </p>
                        <p data-toggle="toggle" data-placement="bottom" title="Maximum depth with an Oxygen partial pressure of 1.6">
                            PP 02 1.6% Depth<span class="pull-right">{{result.pO216Depth}}&nbsp;{{measureDistance}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
